.calc{
  width: 100%;
  height: 100vh;

  .controller-calc{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    
    // background-color: red;

    h1{
      font-size: 50px;

    }
    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      gap: 10px;
      width: 400px;
      height: 300px;
      background-color: #00a2ff;
      border-radius: 10px;

      box-shadow: 10px 10px 0px rgb(0 0 0 / 0.5);

      input{
        border: none;
        border-bottom: 1px solid #fff;
        width: 90%;
        height: 30px;
        text-align: center;
        background-color: transparent;
        color: #fff;

        outline: none;

        
      }

      button{
        cursor: pointer;
        padding: 10px 50px;
        border: 1px solid #fff;
        background: transparent;

        border-radius: 10px;

        position: relative;

        z-index: 10;

        transition: all .5s;

        margin-top: 5%;

        &::before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 0%;
          background-color: #fff;
          transition: all .3s;
          z-index: -1;

        
        }
        &::after{
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 0%;
          background-color: #fff;
          transition: all .3s;
          z-index: -1;
        }
        &:hover::before , &:hover::after{
          width: 50%;
        }
        &:hover{
          color: #000;
        }
      }
    }

   
  }
}

.statusCalc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 5%;
  left: 2%;

  border: 1px solid #000;
  border-radius: 10px;

  width: 300px;
  height: 400px;

  // background-color: red;

  h1,
  p{
    text-align: center;
  }

  :first-child.abaixo{
    background-color: #00a2ff;
    width: 100%;

    transition: all .3s;
  }
  :nth-child(2).normal{
    background-color: #00a2ff;
    width: 100%;

    transition: all .3s;
  }
  :nth-child(3).sobre{
    background-color: #00a2ff;
    width: 100%;

    transition: all .3s;
  }
  :last-child.obesidade{
    background-color: #00a2ff;
    width: 100%;

    transition: all .3s;
  }
}

.link{
  position: fixed;
  bottom: 10%;
  right: 5%;
}